.logo-container {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.8rem;
}
.logo-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  margin-top: 0.5rem;
}
.logo-surface {
  width: 100%;
  height: 0.5rem;
  background-color: black;
}
