.modal-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.label {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.photo-name-input,
.photo-url-input {
  border: 1px solid #4f4f4f;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
