.tip {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}
.img-box-container {
  margin-top: 3rem;
  position: relative;
  columns: 3;
  column-gap: 2rem;
}

@media only screen and (max-width: 870px) {
  .img-box-container {
    columns: 2;
  }
}
@media only screen and (max-width: 615px) {
  .img-box-container {
    columns: 1;
  }
}
