.form-input {
  position: relative;
}
.input {
  border: none;
  border-bottom: 1px solid rgb(145, 145, 145);
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  transition: all 0.3s;
}
.form-input {
  margin-bottom: 3rem;
}
.input {
  width: 100%;
}
.input:focus {
  outline: none;
  border-bottom: 1px solid #3db46d;
}
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(158, 158, 158);
  transition: all 0.3s;
}
.shrink {
  top: -1.5rem;
  font-size: 1.3rem;
}
.input:focus ~ .input-label {
  top: -1.5rem;
  font-size: 1.3rem;
}
