.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}
.modal-box {
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  width: 30%;
}

@media only screen and (max-width: 1100px) {
  .modal-box {
    width: 40%;
  }
}
@media only screen and (max-width: 700px) {
  .modal-box {
    width: 50%;
  }
}
@media only screen and (max-width: 550px) {
  .modal-box {
    width: 70%;
  }
}
@media only screen and (max-width: 375px) {
  .modal-box {
    width: 90%;
  }
}
