.imgBox {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.img-container {
  border-radius: 1rem;
  padding: 1rem 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.imgBox img {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
