.header {
  padding: 2rem 0;
}
.header,
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  flex-wrap: wrap;
}

.app-details {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 1.4rem;
}

.welcome-message {
  font-size: 1.1rem;
}
.search-container {
  position: relative;
  border-radius: 1rem;
  border: 1px solid #bdbdbd;
  overflow: hidden;
  padding: 0.5rem;
  transition: all 0.3s;
  margin-left: 3rem;
}
.input-search {
  padding: 1rem 0.5rem;
  margin-left: 4rem;
  border: none;
}
.search-icon-container {
  position: absolute;
  color: #bdbdbd;
  padding: 0.4rem 1rem;
}
.search-icon-container .icon {
  width: 1.7rem;
  width: 1.7rem;
}
.btn-add,
.btn-logout {
  color: white;
  padding: 0.5rem 2rem;
  background-color: #3db46d;
  height: 5rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 6px 0px #0000001a;
  transition: all 0.3s;
}
.btn-add:hover,
.btn-logout:hover {
  opacity: 0.8;
}
.btn-logout {
  margin-left: 1rem;
}

@media only screen and (max-width: 617px) {
  .header-left {
    width: 100%;
  }
  .search-container {
    flex-basis: 70%;
  }
  .input-search {
    width: 100%;
  }
  .header-btns {
    width: 100%;
    margin-top: 2rem;
    text-align: end;
  }
  .btn-add,
  .btn-logout {
    height: auto;
  }
}

@media only screen and (max-width: 485px) {
  .app-details {
    justify-content: center;
  }
  .search-container {
    height: 4rem;
    padding: 0;
  }
  .input-search {
    height: 100%;
    padding: 0.8rem 0;
  }
  .search-icon-container {
    padding: 0.3rem 1rem;
  }
}

@media only screen and (max-width: 300px) {
  .search-container {
    flex-basis: 80%;
  }
}
