* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
}

input,
button {
  font-family: inherit;
}
input:focus {
  outline: none;
}
@media only screen and (min-width: 1440px) {
  html {
    font-size: 65%;
  }
}
@media only screen and (min-width: 1600px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1160px) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 52%;
  }
}
